.start {
    background-color: black;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  font-size: 40px;
  font-weight: bold
};

header nav {
    display: flex;
    display: inline-block;
    justify-content: center;
    padding-top: 20px;
}

header h1 {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

header h2 {
    display: inline-block;
}

header button {
    display: inline-block;
    margin: 0 400px;
}

header button:hover {
    background-color: red;
    color: black;
}

.question-title {
    display: flex;
    justify-content: center;
    padding-right: 240px;
    font-size: 40px;
    font-weight: bold;
}

#questionChoices {
    font-weight: bold;
}
